
<div class="alignDivCenter">
    <h1>Hello we are here NEW TABLE</h1>
    <br><br>

    <h3>Welcome kid: {{userName}}</h3>
    <h5>Learn Table of {{tableNum}}</h5>
    <br>
    
    <table class="table">

    <tbody>

            <!-- On rows -->
        <tr class="table-active">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>1</td>
            <td>=</td>
            <td>{{t1}}</td>
        </tr>

        <tr class="table-primary">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>2</td>
            <td>=</td>
            <td>{{t2}}</td>
        </tr>
        <tr class="table-secondary">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>3</td>
            <td>=</td>
            <td>{{t3}}</td>
        </tr>
        <tr class="table-success">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>4</td>
            <td>=</td>
            <td>{{t4}}</td>
        </tr>
        <tr class="table-danger">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>5</td>
            <td>=</td>
            <td>{{t5}}</td>
        </tr>
        <tr class="table-warning">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>6</td>
            <td>=</td>
            <td>{{t6}}</td>
        </tr>
        <tr class="table-info">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>7</td>
            <td>=</td>
            <td>{{t7}}</td>
        </tr>
        <tr class="table-light">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>8</td>
            <td>=</td>
            <td>{{t8}}</td>
        </tr>
        <tr class="table-success">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>9</td>
            <td>=</td>
            <td>{{t9}}</td>
        </tr>
        <tr class="table-danger">
            <td>{{tableNum}}</td>
            <td>x</td>
            <td>10</td>
            <td>=</td>
            <td>{{t10}}</td>
        </tr>

   
    </tbody>
    </table>       
        

</div>