
<div class="alignDivCenter">
    <h3><b><i>{{userName}}</i></b> your score for table of <u>{{tableNum}}</u></h3>
    <h1>{{totalScore}} out of 10</h1>
    <br>

    
    <table class="table">
        <thead>
            <th>Number</th>
            <th>x</th>
            <th>Count</th>
            <th>=</th>
            <th>Original</th>
            <th>{{userName}}</th>
            <th>Result</th>
        </thead>

        <tbody>

                <!-- On rows -->
            <tr class="table-active">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>1</td>
                <td>=</td>
                <td>{{t1}}</td>
                <td>{{uv1}}</td>
                <td>{{ur1}}</td>
            </tr>

            <tr class="table-primary">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>2</td>
                <td>=</td>
                <td>{{t2}}</td>
                <td>{{uv2}}</td>
                <td>{{ur2}}</td>
            </tr>
            <tr class="table-secondary">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>3</td>
                <td>=</td>
                <td>{{t3}}</td>
                <td>{{uv3}}</td>
                <td>{{ur3}}</td>
            </tr>
            <tr class="table-success">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>4</td>
                <td>=</td>
                <td>{{t4}}</td>
                <td>{{uv4}}</td>
                <td>{{ur4}}</td>
            </tr>
            <tr class="table-danger">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>5</td>
                <td>=</td>
                <td>{{t5}}</td>
                <td>{{uv5}}</td>
                <td>{{ur5}}</td>
            </tr>
            <tr class="table-warning">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>6</td>
                <td>=</td>
                <td>{{t6}}</td>
                <td>{{uv6}}</td>
                <td>{{ur6}}</td>
            </tr>
            <tr class="table-info">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>7</td>
                <td>=</td>
                <td>{{t7}}</td>
                <td>{{uv7}}</td>
                <td>{{ur7}}</td>
            </tr>
            <tr class="table-light">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>8</td>
                <td>=</td>
                <td>{{t8}}</td>
                <td>{{uv8}}</td>
                <td>{{ur8}}</td>
            </tr>
            <tr class="table-success">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>9</td>
                <td>=</td>
                <td>{{t9}}</td>
                <td>{{uv9}}</td>
                <td>{{ur9}}</td>
            </tr>
            <tr class="table-danger">
                <td>{{tableNum}}</td>
                <td>x</td>
                <td>10</td>
                <td>=</td>
                <td>{{t10}}</td>
                <td>{{uv10}}</td>
                <td>{{ur10}}</td>
            </tr>
    
        </tbody>
    </table>
</div>